/* Podstawowe style dla ciała strony */
body {
  font-family: 'Arial', sans-serif;
  color: white;
  background-image: url('background.jpg'); /* ścieżka do pliku */
  background-size: cover;       /* dopasowuje obraz do rozmiaru ekranu */
  background-repeat: no-repeat; /* nie powiela obrazka */
  background-position: center;  /* wyśrodkowanie */
}

.hero-section {
  background-image: url('images/your-image.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* "mgła" */
  color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}


/* Stylizacja nagłówka */
nav {
  background-color: #2c3e50;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 80px;  /* Zwiększona wysokość nagłówka */
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;               /* Użycie Flexboxa */
  justify-content: center;     /* Wyśrodkowanie elementów w poziomie */
  align-items: center;         /* Wyśrodkowanie elementów w pionie */
  margin: 0;
}

nav ul li {
  margin-right: 20px;          /* Odstęp między elementami w menu */
}

nav h1 {
  font-size: 36px;
  color: white;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
}

/* Stylizacja ikony obok tytułu */
nav img {
  margin-right: 10px;          /* Odstęp między ikoną a tytułem */
  vertical-align: middle;      /* Wyrównanie ikony do linii tytułu */
}

/* Stylizacja linków w menu */
ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #3498db;
}

/* Formularz wyszukiwania */
input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  width: 250px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
}

/* Stylizacja przycisków */
button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

button:focus {
  outline: none;
}
